/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&family=Ubuntu&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container-fluid{
    padding: 2% 12%;
}

#title{
    background-color: #f84661;
    color: #fff;
}

#title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem; 
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 60%;
    
    transform: rotate(25deg);
}

/* Features */

.features-column{
    text-align: center;
    margin: 7% 0 7% 0;
}

.features-column i{
    color: #ef8172;
    font-size: 3.5rem;
    padding-bottom: 4%;
}

.features-column i:hover{
    /* cursor: pointer; */
    color: #ff4c68;
}

.features-column h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.features-column p{
    color: #8f8f8f;
}