/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Ubuntu&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-weight: 700;
}
p{
    color: #8f8f8f;
}

/* Containers */

.container-fluid{
    padding: 2% 12%;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}


/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem; 
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* Title Section */

#title{
    text-align: left;
}


/* Title Content */

.title-content{
    padding-top: 2%;
    padding-bottom: 4%;
}


/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 21%;
    transform: rotate(25deg);
    position: absolute;
    right: 22%;
}

@media (max-width: 991px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 38%;
    }
}

@media (max-width: 750px){
    .title-image{
        width: 48%;
    }
}

@media (max-width: 580px){
    .title-image{
        width: 58%;
    }
}

/* Features Section*/

#features{
    position: relative;
}

.features-column{
    margin: 7% 0 7% 0;
}

.features-column i{
    color: #ef8172;
    font-size: 3.5rem;
    margin-bottom: 4%;
}

.features-column i:hover{
    color: #ff4c68;
}

.features-column h3{
    font-weight: 800;
    font-size: 1.5rem;
}


/* Testimonials */

#testimonials{
    background-color: #ef8172;
}

#testimonials h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item{
    padding: 8% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

.pricing-column{
    padding: 3% 2%;
}

/* Call to Action Section */

#cta{
    padding-top: 7%;
    padding-bottom: 5%;
}

#cta h3{
    font-weight: 900;
    font-size: 2.7rem;
    line-height: 1.5;
}

/* Footer Section */

#footer{
    padding-top: 7%;
    padding-bottom: 6%;
}

#footer p{
    font-size: 1.2rem;
}

.social-icons{
    padding-bottom: 1.5%;
}

.icon{
   padding-right: 2%;
}
